.container {
	display: flex;
	justify-content: center;
}
.downloadContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#header {
	position: fixed;
	background-image: linear-gradient(90deg, rgb(255, 10, 250), rgb(10, 20, 255));
	width: 120%;
	height: 200px;
	transform: rotate(-2deg);
	z-index: 5;
	left: -10%;
	top: -10%;
	box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.2);
}
#labelTitle {
	color: rgb(0, 0, 190);
	background-color:cornflowerblue;
	border-color: rgb(20 , 20, 190);
	border-style: solid;
	border-width: 5px;
	border-radius: 5mm;
	font-size: 40px;
	z-index: 6;
	margin: 10px;
	padding: 10px;
	transition-duration: 0.4s;
}
#labelTitle:hover {
	background-color: rgb(200, 200, 255);
}
#windowsIcon {
	margin-top: 14px;
	margin-bottom: 24px;
}
#linuxIcon {
	margin-bottom: 10px;
}
#imagesContainer {
	margin-top: 100px;
}
#downloadBackground{
	display: flex;
	background-color: rgba(10,10,10,0.6);
	padding: 30px;
	border-radius: 15px;
	backdrop-filter: blur(8px);
	z-index: 5;
}
.downloadButton {
	color: rgb(0, 0, 190);
	border-color: rgb(20 , 20, 190);
	background-color:cornflowerblue;
	border-style: solid;
	border-width: 5px;
	border-radius: 5mm;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	transition-duration: 0.4s;
}
.downloadButton:hover {
	background-color: rgb(200, 200, 255);
	box-shadow: 0 0px 16px 0 rgba(255,255,255,0.2), 0 0px 20px 0 rgba(255,255,255,0.2);
}
html {
	background-image: url("assets/background.png");
	background-position: center;
	background-size: cover;
}
#backgroundFilter {
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 0;
}